<h1><%= @post.title %></h1>

<p><%= @post.content %></p>

Categories:<br />
  <% @post.categories.each do |category| %>
    <p><%= link_to category.name, category_path(category) %></p>
    <% end %>

<h4>Comments:</h4>
  <ul>
  <% @post.comments.each do |comment| %>
    <li>
      <%= comment.user.username %> says: <%= comment.content %>
    </li>
  <% end %>
  </ul>

<h4>Users Who Commented:<h/4>
  <ul>
  <% @post.users.distinct.each do |user| %>
    <li>
      <%= link_to user.username, user_path(user) %>
    </li>
  <% end %>
  </ul> 

  <%= form_for Comment.new do |f| %>
    <%= f.hidden_field :post_id, value: @post.id %>
    <%= f.label :content %>
    <%= f.text_area :content %>
    <br>
    <%= f.collection_select :user_id, User.all, :id, :username, include_blank: true%>
    <br>
    <%= f.fields_for :user, User.new do |u| %>
      <%= u.text_field :username %>
    <% end %>
    <br><br>
    <%= f.submit %>
  <% end %>